/* Main Container */
#GameEndContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #F5832D;
}

/* Contents Container */
.GameEndContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Score */
.GameEndContents {
    text-align: center;
    color: white;
}
.GameEndContents h1 {
    margin: 0;

    font-size: 2rem;
    font-weight: bold;
}
.GameEndContents span {
    font-size: 6rem;
    font-weight: bold;
}
