/* All main Container */
main {
    width: 100vw;
    max-width: 100vw;
    height: 81vh;
}

/* Main Container */
#HomeContainer {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: #F5832D;
}

/* Contents Container */
.HomeContents {
    display: flex;
    justify-content: space-between;
    
    margin: 10px 40px;

    color: white;
}

/* Project Name, Description, Button Game */
.LeftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LeftContent h1 {
    font-size: 3.2rem;
    margin-bottom: 35px;
    margin-top: 0;
}

.HomeDescription {
    max-width: 800px;
    margin-bottom: 90px;

    font-size: 1.2rem;
}

.BtnGame {
    width: 150px;
    height: 55px;
    padding: 0;

    background-color: white;
    border: none;
    border-radius: 25px;
}

.LinkGame {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: #F5832D;

    font-size: 1.4rem;
    font-weight: 600;
}

/* Isometric Image */
.RightContent {
    display: flex;
    align-items: center;
}

.RightContent img {
    width: 40vw;
    height: auto;
    max-height: 58vh;

    object-fit: contain;
}
