main {
    display: flex;
    width: 100vw;
    height: 81vh;
}

.Leftround {
    background-color:#F5832D;
    height: 60vh; width: 60vh;
    flex-wrap: wrap;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 3%;    
    box-shadow:3px 3px 3px 3px lightgray;
    position: static;
}

.Rightround {
    background-color:#F5832D;
    height: 60vh; width: 60vh;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 3%;
    
    box-shadow:3px 3px 3px 3px lightgray;
}
