a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

#NavContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width: 100vw;
    height: 19vh;
}

.OrangeBack {
    background-color: #F5832D;
}

.WhiteBack {
    background-color: white;
}

.NavList {
    display: flex;
}

.NavList li {
    margin-right: 5vw;
}

.NavList a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8vw;
    min-width: 110px;
    height: 6.5vh;

    border: 1.5px solid transparent;
    border-radius: 30px;

    font-size: 1.2rem;
}