main {
    display: flex;
    width: 100vw;
    height: 81vh;
}

.scroll-box {
    border : '1px solid black';
    height : '300px';
    width : '300px';
    border-radius : '30px';
    position: relative;
    overflow: hidden;
}


.scroll-box-container {
    display: inline-block;
    border-radius : '15px';
    width: 100%;
}
  
 .scroll-box__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  