main {
    display: flex;
    width: 100vw;
    height: 81vh;
    overflow: hidden;
}

.ScrollBox {
    border : 2px solid white;
    height : 500px;
    width : 76%;
    border-radius : 50px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    top: 350px;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    
}




  